body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('web design/possible background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(212, 219, 212);
    
}
.logo{
    border-radius: 40px;
    border: none;
    outline: none;
    width: 100px;
    height: 70px;
}

header {
    position: fixed;
    height: 5%;
    width: 100%;
    background: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;

}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .navbar{
    
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    margin-left: 40px;
    height: 5%;
    
    
}


.navbar a {
    
    font-size: 20px;
    height: 5%;
    display: flex;
    align-items: center;
    color: rgb(18, 30, 40);
    border:2px solid rgba(72, 113, 10, 0.5);
    border-radius: 5px;
    background-color: rgba(72, 113, 10, 0.5);
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, border-color 0.3s;
    font-weight: bold;
}
header .navbar a:hover{
    color: rgb(28, 3, 52);
    border:2px solid rgba(72, 113, 10, 1);
    background:rgba(72, 113, 10, 1);
}
main{
    margin-top: 100px;
}
/*.images img{
    margin: 0 20px;
}*/
.images:first-child{
    margin-right: 200px;
}
.images:nth-child(2){
    margin: 0 1000px;
}
/*this is supposed to adjust the stuff on the site accordingly*/
@media all {
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    .logo{
        width: 150px;
        height: 80px;
    }
    .navbar a{
        font-size: 18px;
        padding: 8px 12px;
    }
}

@media all {
    .logo{
        width: 120px;
        height: 60px;
    }
    .navbar a{
        font-size: 16px;
        padding: 6px 10px;
    }
}
/*the following code is to make the match on the homepage look as it should i.e 
it is horizontal*/
.match-info{
    text-align: center;
    color: white;
    margin-top: 20px;
}
.match-info .teams img{
    max-width: 150px;
    height: auto;
    
}
.match-info .teams span{
    font-size: 24px;
    color: white;
    
}